/* NOTE TO SELF */
/* 
- em or rem = font-size, padding, margins
- % = width or height of containers, divs,etc
- vh or vw = sizing pages or smth idk
*/

/* --------------------------------------- */
/* GENERAL STYLING --base */
/* --------------------------------------- */
/* typical iPhone 8 uses a 375px viewport width */
@media screen and (max-width: 400px) {
    body {
        overflow-x: hidden;
    }

    /* submit buttons */
    .sub-butts {
        background-color: black;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        border-color: transparent;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }

    h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* page body */
    #landing-body {
        /* background-image: url("landing.png"); */
        animation: changeBgImg 3s;
        animation-fill-mode: forwards;
        background-size: 50vh;
    }

    @keyframes changeBgImg {
        0% {background-image: url("lightest-landing.png");}
        50% {background-image: url("light-landing.png");}
        100% {background-image: url("landing.png");}
    }

    /* div for buttons */
    #landing-buttons-div {
        position: absolute;
        top: 70%;
        left: -1.5vh;
        text-decoration: none;
    }

    /* button links */
    .landing-hrefs:link {
        text-decoration: none;
        color: black;
    }

    /* buttons themselves */
    .landing-buttons {
        border-radius: 12px;
        border-color: transparent;
        box-shadow: 5px 10px;
        color: rgb(252, 212, 220);
        text-align: center;
        background-color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: block;
        margin: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }

    .landing-buttons:hover {
        background-color: black;
        color: rgb(255, 240, 243);
    }

    /* login button */
    #landing-login-button {
        padding-left: 6em;
        padding-right: 6em;
    }

    /* signup button */
    #landing-signup-button {
        padding-left: 5.75em;
        padding-right: 5.75em;
    }
}


/* --------------------------------------- */
/* HOME PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    #home-body {
        background-color: white;
        overflow-y: hidden;
    }

    /* navigation bar */
    .bottom-nav {
        position: fixed;
        top: 90vh;
        width: 100%;
        height: auto;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background-color: rgba(255, 218, 218, 0.9);
        justify-content: center;
    }

    /* list of nav items */
    .nav-list {
        display: inline-block;
        text-decoration: none;
        color: white;
        justify-content: center;
        /* left: -10%; */
    }

    /* nav items */
    .nav-list-item {
        display: inline-block;
        text-decoration: none;
        color: white;
        justify-content: center;
    }

    /* navbar images */
    .nav-img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        margin: 2px;
    }

    .nav-img:hover {
        box-shadow: 3px 2px;
        color: pink;
        /* width: 52px;
        height: 52px; */
    }
    

    /* div holding "Find your..." text & button */
    #find-your-div {
        position: relative;
        top: 39vh;
        padding: 3vh;
        padding-left: 4vh;
    }

    /* bookmark div that holds the img of a ribbon/bookmark */
    #bookmark-div {
        position: fixed;
        width: 10%;
        left: -10%;
        top: -20%;
        z-index: -1;
    }

    /* "on page 14" button */
    #get-booked-button {
        background-color: pink;
        color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3em;
        padding-right: 3em;
        border-radius: 7px;
        border-color: transparent;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

    #get-booked-button:hover {
        background-color: black;
        box-shadow: 5px 10px;
        color: #ffe2e4;
    }

    /* text that is changing */
    #changing-text-span {
        color: pink;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }

    /* "Find your"   "charming" text */
    #find-your-h1 {
        font-family: 'Inter', sans-serif;
    }

    /* things to make the text change */
    #changing-text-span:after {
        content: "princex";
        animation: change 5s linear infinite;
    }

    @keyframes change {
        0% {content: "prince";}
        50% {content: "princess";}
    }
}


/* --------------------------------------- */
/* SIGNUP PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* CSS Gradient Code from gradient-animator.com */
    #signup-body {
        overflow-y: hidden;
        background: linear-gradient(270deg, #ffffff, #fff6f6, #fff1f1, #f9e8e8);
        background-size: 800% 800%;

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    /* div holding all waves */
    #waves-div {
        width: 150%;
        height: auto;
        position: relative;
        left: -5%;
        top: 85vh;
    }

    /* wave shape */
    .wave {
        background-color: transparent;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    /* svg for wave */
    .wave svg {
        display: block;
    }

    /* h1 saying "Sign Up" */
    #signup-h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }

    /* signup form */
    #signup-form {
        background-color: transparent;
        width: 60%;
        position: relative;
        top: 13vh;
        left: 19%;
    }

    /* tabs of the form */
    .tab {
        display: none;
    }

    /* buttons to change the tab */
    .change-tab-butts {
        background-color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border-color: transparent;
        color: black;
        padding: 0.5em;
        /* #ffe2e4 */
    }

    .change-tab-butts:hover {
        background-color: black;
        color: #ffe2e4;
        border-radius: 5px;
        border-color: white;
    }
}


/* --------------------------------------- */
/* LOGIN PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* CSS Gradient Code from gradient-animator.com */
    #login-body {
        overflow-y: hidden;
        background: linear-gradient(270deg, #ffe2e4, #f7cdd0, #ffffff);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }

    /* login form */
    #login-form {
        background-color: transparent;
        width: 70%;
        position: relative;
        top: 18vh;
        left: 15%;
    }
}



/* --------------------------------------- */
/* PROFILE PAGE */
/* --------------------------------------- */




/* --------------------------------------- */
/* MESSAGES PAGE */
/* --------------------------------------- */


/* --------------------------------------- */
/* MATCHES PAGE */
/* --------------------------------------- */