/* NOTE TO SELF */
/* 
- em or rem = font-size, padding, margins
- % = width or height of containers, divs,etc
- vh or vw = sizing pages or smth idk
*/

/* --------------------------------------- */
/* GENERAL STYLING --base */
/* --------------------------------------- */
/* typical iPhone 8 uses a 375px viewport width */
@media screen and (max-width: 400px) {
    body {
        overflow-x: hidden;
    }
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* page body */
    #landing-body {
        background-image: url("landing.png");
        background-size: 50vh;
    }

    /* div for buttons */
    #landing-buttons-div {
        position: absolute;
        top: 70%;
        left: 5%;
    }

    /* button links */
    .landing-hrefs {
        text-decoration: none;
        color: black;
    }

    /* buttons themselves */
    .landing-buttons {
        border-radius: 12px;
        border-color: transparent;
        box-shadow: 5px 10px;
        text-align: center;
        background-color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: block;
        margin: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }

    /* login button */
    #landing-login-button {
        padding-left: 6em;
        padding-right: 6em;
    }

    /* signup button */
    #landing-signup-button {
        padding-left: 5.75em;
        padding-right: 5.75em;
    }
}


/* --------------------------------------- */
/* HOME PAGE */
/* --------------------------------------- */



/* --------------------------------------- */
/* SIGNUP PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    #signup-body {
        background-color: white;
    }

    /* div holding all waves */
    #waves-div {
        width: 150%;
    }

    /* wave shape */
    .wave {
        background-color: white;
    }

    /* svg for wave */
    .wave svg {
        display: block;
        width: 100%;
    }

}


/* --------------------------------------- */
/* LOGIN PAGE */
/* --------------------------------------- */




/* --------------------------------------- */
/* PROFILE PAGE */
/* --------------------------------------- */




/* --------------------------------------- */
/* MESSAGES PAGE */
/* --------------------------------------- */


/* --------------------------------------- */
/* MATCHES PAGE */
/* --------------------------------------- */