/* NOTE TO SELF */
/* 
- em or rem = font-size, padding, margins
- % = width or height of containers, divs,etc
- vh or vw = sizing pages or smth idk
*/

/* --------------------------------------- */
/* GENERAL STYLING --base */
/* --------------------------------------- */
/* typical iPhone 8 uses a 375px viewport width */
@media screen and (max-width: 400px) {
    body {
        overflow-x: hidden;
    }

    /* submit buttons */
    .sub-butts {
        background-color: black;
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        border-color: transparent;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

/* --------------------------------------- */
/* LANDING PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* page body */
    #landing-body {
        background-image: url("landing.png");
        background-size: 50vh;
    }

    /* div for buttons */
    #landing-buttons-div {
        position: absolute;
        top: 70%;
        left: -1.5vh;
    }

    /* button links */
    .landing-hrefs {
        text-decoration: none;
        color: black;
    }

    /* buttons themselves */
    .landing-buttons {
        border-radius: 12px;
        border-color: transparent;
        box-shadow: 5px 10px;
        text-align: center;
        background-color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        display: block;
        margin: 2em;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        text-decoration: none;
    }

    /* login button */
    #landing-login-button {
        padding-left: 6em;
        padding-right: 6em;
        text-decoration: none;
    }

    /* signup button */
    #landing-signup-button {
        padding-left: 5.75em;
        padding-right: 5.75em;
    }
}


/* --------------------------------------- */
/* HOME PAGE */
/* --------------------------------------- */



/* --------------------------------------- */
/* SIGNUP PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* CSS Gradient Code from gradient-animator.com */
    #signup-body {
        overflow-y: hidden;
        background: linear-gradient(270deg, #ffffff, #fff6f6, #fff1f1, #f9e8e8);
        background-size: 800% 800%;

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    /* div holding all waves */
    #waves-div {
        width: 150%;
        height: auto;
        position: relative;
        left: -5%;
        top: 85vh;
    }

    /* wave shape */
    .wave {
        background-color: transparent;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    /* svg for wave */
    .wave svg {
        display: block;
    }

    /* h1 saying "Sign Up" */
    #signup-h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 800;
    }

    /* signup form */
    #signup-form {
        background-color: transparent;
        width: 60%;
        position: relative;
        top: 13vh;
        left: 19%;
    }

    /* tabs of the form */
    .tab {
        display: none;
    }

    /* buttons to change the tab */
    .change-tab-butts {
        background-color: #ffe2e4;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        border-color: transparent;
        color: black;
        padding: 0.5em;
    }
}


/* --------------------------------------- */
/* LOGIN PAGE */
/* --------------------------------------- */

@media screen and (max-width: 400px) {
    /* CSS Gradient Code from gradient-animator.com */
    #login-body {
        overflow-y: hidden;
        background: linear-gradient(270deg, #ffe2e4, #f7cdd0, #ffffff);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 68%}
        50%{background-position:100% 33%}
        100%{background-position:0% 68%}
    }

    /* login form */
    #login-form {
        background-color: transparent;
        width: 70%;
        position: relative;
        top: 18vh;
        left: 15%;
    }
}



/* --------------------------------------- */
/* PROFILE PAGE */
/* --------------------------------------- */




/* --------------------------------------- */
/* MESSAGES PAGE */
/* --------------------------------------- */


/* --------------------------------------- */
/* MATCHES PAGE */
/* --------------------------------------- */